.material-symbols-outlined {
  position: relative;
  top: 5px;
  font-variation-settings: "FILL" 1, "wght" 600, "GRAD" 200, "opsz" 40;
}
body {
  background-color: rgb(255, 255, 255);
}
nav {
  background: rgb(0, 0, 255);
  margin: 0 auto;
  margin-bottom: 20px;
  display: flex;
  padding: 20px;
  border-radius: 20px;
  height: 45px;
  width: 97.5%;
}
#nav-img {
  height: 45px;
  width: 45px;
}
#nav-h1 {
  display: flex;
  color: rgb(255, 255, 255);
  flex: 1;
  margin: 10px;
}
.nav-li {
  display: inline-block;
  padding: 0 10px;
  position: relative;
  bottom: 10px;
}
.nav-a {
  font-size: 20px;
  color: #ffffff;
}
#location {
  color: rgba(255, 255, 255, 0.75);
  font-style: oblique;
}
a {
  text-decoration: none;
  color: #ffffff;
}
