.material-symbols-outlined {
  position: relative;
  top: .5vh;
  font-variation-settings: "FILL" 1, "wght" 600, "GRAD" 200, "opsz" 40;
}
body {
  background-color: rgb(25, 25, 25);
}
nav {
  background: rgb(0, 0, 255);
  margin: 0 auto;
  margin-bottom: 2vh;
  display: flex;
  padding: 2vh;
  border-radius: 2vh;
  height: 4.5vh;
  width: 97vw;
}
#nav-img {
  height: 4.5vh;
}
#nav-h1 {
  display: flex;
  color: white;
  flex: 1;
  margin: 1vh;
}
.nav-li {
  display: inline-block;
  padding: 0 1vh;
  position: relative;
  bottom: 1vh;
}
.nav-a {
  font-size: 20px;
  color: #fff;
}
#location {
  color: rgba(255, 255, 255, 0.75);
  font-style: oblique;
}
a {
  text-decoration: none;
  color: #fff;
}
